{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {%if post.published_date %}
    <div class="date">
    {{post.published_date}}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}


    <h1>{{post.title}}</h1>
    <p>{{post.text|linebreaksbr}}</p>

    댓글 :
  {% for comment in comments %}
  {{comment.body}} - {{comment.date}} - {{user.username}}
  <br>
    {% endfor %}

  <br><br>
  댓글 달기 :
  <form method="POST">
    {% csrf_token %}
    <input name="body" type="text" value="">
    <input class="btn btn-primary" type="submit" value="저장">
  </form>

</div>









{% endblock %}